/* Extra extra large */
/* Extra large */
/* Large */
/* Medium */
/* Small */
/* X-Small */
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 360px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 0.8rem;
    }

    #menu {
        height: 60px;
    }

    .header-login-btn {
        font-size: 0.8rem;
    }

    .navbar-toggler .fas {
        font-size: 1.2rem;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
    .header-banner .heading h1 {
        font-size: 30px;
    }
    .header-banner .heading h2 {
        font-size: 24px;
    }
    .header-banner p {
        font-size: 16px;
        line-height: 24px;
    }
    .header-software img {
        width: 50px;
    }
    .product .card {
        padding: 2rem;
    }
    .how-we-work h3 {
        font-size: 24px;
    }
    .how-we-work p {
        font-size: 14px;
    }
    .how-we-work a {
        padding: 10px 20px;
    }
    .col-md-4, .col-md-6 {
        width: 100%;
    }
    .search-box {
        left: 50%;
        transform: translate(-50%);
    }

    .search-input {
        width: 400px; /* Adjust as needed for smaller devices */
    }

    .search-box:hover > .search-input,
    .search-input:focus {
        width: 400px; /* Adjust as needed for smaller devices */
        margin: 0 8px;
    }

    .search-box:hover > .search-btn,
    .search-input:focus + .search-btn {
        background: var(--color1); /* Keep the background same as the original */
    }
    .search-btn{
        margin-top: -40px !important;
    }
    .our-work .title {
        font-size: 30px;
    }
    .our-work .card-img-top {
        height: 150px;
    }
    .domain-list ul li {
        border-right: 0 !important;
    }
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;
    }
}
@media (max-width: 575.98px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 0.8rem;
    }

    #menu {
        height: 60px;
    }

    .header-login-btn {
        font-size: 0.8rem;
    }

    .navbar-toggler .fas {
        font-size: 1.2rem;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
    .header-banner .heading h1 {
        font-size: 30px;
    }
    .header-banner .heading h2 {
        font-size: 24px;
    }
    .header-banner p {
        font-size: 16px;
        line-height: 24px;
    }
    .header-software img {
        width: 50px;
    }
    .product .card {
        padding: 2rem;
    }
    .how-we-work h3 {
        font-size: 24px;
    }
    .how-we-work p {
        font-size: 14px;
    }
    .how-we-work a {
        padding: 10px 20px;
    }
    .col-md-4, .col-md-6 {
        width: 100%;
    }
    .search-box {
        left: 50%;
        transform: translate(-50%);
    }

    .search-input {
        width: 400px; /* Adjust as needed for smaller devices */
    }

    .search-box:hover > .search-input,
    .search-input:focus {
        width: 400px; /* Adjust as needed for smaller devices */
        margin: 0 8px;
    }

    .search-box:hover > .search-btn,
    .search-input:focus + .search-btn {
        background: var(--color1); /* Keep the background same as the original */
    }
    .search-btn{
        margin-top: -40px !important;
    }
    .our-work .title {
        font-size: 30px;
    }
    .our-work .card-img-top {
        height: 150px;
    }
    .domain-list ul li {
        border-radius: 0 !important;
    }
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 0.9rem;
    }

    #menu {
        height: 70px;
    }

    .header-login-btn {
        font-size: 0.9rem;
    }

    .navbar-toggler .fas {
        font-size: 1.3rem;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
    .header-banner .heading h1 {
        font-size: 40px;
    }
    .header-banner .heading h2 {
        font-size: 30px;
    }
    .header-banner p {
        font-size: 18px;
        line-height: 26px;
    }
    .header-software img {
        width: 60px;
    }
    .product .card {
        padding: 2rem;
    }
    .how-we-work h3 {
        font-size: 32px;
    }
    .how-we-work p {
        font-size: 18px;
    }
    .how-we-work a {
        padding: 12px 25px;
    }
    .col-md-4, .col-md-6 {
        width: 100%;
    }
    .search-box {
        left: 50%;
        transform: translate(-50%);
    }

    .search-input {
        width: 200px; /* Adjust as needed for smaller devices */
    }

    .search-box:hover > .search-input,
    .search-input:focus {
        width: 200px; /* Adjust as needed for smaller devices */
        margin: 0 8px;
    }

    .search-box:hover > .search-btn,
    .search-input:focus + .search-btn {
        background: var(--color1); /* Keep the background same as the original */
    }
    .our-work .title {
        font-size: 35px;
    }
    .our-work .card-img-top {
        height: 175px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
    }

    #menu {
        height: 75px;
    }

    .header-login-btn {
        font-size: 1rem;
    }

    .navbar-toggler .fas {
        font-size: 1.4rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        margin-bottom: 0;
    }
    .header-banner .heading h1 {
        font-size: 50px;
    }
    .header-banner .heading h2 {
        font-size: 36px;
    }
    .header-banner p {
        font-size: 20px;
        line-height: 28px;
    }
    .header-software img {
        width: 70px;
    }
    .product .card {
        padding: 2.5rem;
    }
    .how-we-work h3 {
        font-size: 40px;
    }
    .how-we-work p {
        font-size: 22px;
    }
    .how-we-work a {
        padding: 14px 28px;
    }
    .how-we-work-img{
        width: 200px !important;
      }
      .our-work .title {
        font-size: 40px;
    }
    .our-work .card-img-top {
        height: 190px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* .navbar {
        background: transparent !important;
    } */
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
    #navbarSupportedContent{
        margin-left: 120px !important;
    }
    .navbar .navbar-nav .nav-item{
        padding: 0 !important;
    }
    .header-contact{
        font-size: 12px;
    }
    #menu {
        height: 80px;
    }

    .header-login-btn {
        font-size: 1.1rem;
    }

    .navbar-toggler .fas {
        font-size: 1.5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        margin-bottom: 0;
    }

    .header-banner .heading h1 {
        font-size: 60px;
    }
    .header-banner .heading h2 {
        font-size: 40px;
    }
    .header-banner p {
        font-size: 22px;
        line-height: 32px;
    }
    .header-software img {
        width: 70px;
    }
    .product .card {
        padding: 3rem;
    }
    .how-we-work h3 {
        font-size: 48px;
    }
    .how-we-work p {
        font-size: 26px;
    }
    .how-we-work-img{
        width: 200px !important;
      }
      .our-work .title {
        font-size: 50px;
    }
    .our-work .card-img-top {
        height: 200px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
    }
    /* .navbar {
        background: transparent !important;
    } */
    #navbarSupportedContent{
        margin-left: 100px !important;
    }
    #menu {
        height: 80px;
    }

    .header-login-btn {
        font-size: 1.2rem;
    }

    .navbar-toggler .fas {
        font-size: 1.6rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        margin-bottom: 0;
    }
    .header-banner .heading h1 {
        font-size: 70px;
    }
    .header-banner .heading h2 {
        font-size: 48px;
    }
    .header-banner p {
        font-size: 24px;
        line-height: 36px;
    }
    .header-software img {
        width: 70px;
    }
    .product .card {
        padding: 3.5rem;
    }
    .how-we-work h3 {
        font-size: 55px;
    }
    .how-we-work p {
        font-size: 29px;
    }
}

@media (max-width: 400px) {
     .search-box {
        left: 50%;
        transform: translate(-50%);
    }

    .search-input {
        width: 300px; /* Adjust as needed for smaller devices */
    }

    .search-box:hover > .search-input,
    .search-input:focus {
        width: 300px; /* Adjust as needed for smaller devices */
        margin: 0 8px;
    }

    .search-box:hover > .search-btn,
    .search-input:focus + .search-btn {
        background: var(--color1); /* Keep the background same as the original */
    }
    .search-btn{
        margin-top: -40px !important;
    }
}